<%- include('./partials/header'); -%>

<br>
<div class="container ">
    <h3 class="center-align">Checkout</h3>
    <h4 class="center-align"><%= message %></h4>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <%if(course!=null){%>
                <div class="card">
                    <div class="card-image">
                        <img src="/course-thumbnail/<%= course.imageUrl %>">
                    </div>
                    <div class="card-content">
                        <h5><strong><%= course.title %></strong> </h5>
                        <p><strong><%= course.instructor %></strong></p>
                        <div class="row">
                            <div class="col">
                                <p><strong><%=course.enrolledUsers%> enrolled students</strong></p>
                            </div>
                            <div class="col">
                                <p><strong><%= course.likes %> likes</strong></p>
                            </div>
                        </div>
                        <h5>₹<%= course.price %></h5>
                    </div>
                </div>
                <%}%>
            </div>
            <div class="col s12 m6 l6">
                <%if(course!=null){%>
                <!-- <button class="center-align grey darken-3 btn-large waves-effect waves-light" type="submit" name="action">Pay with Razorpay</button> -->
                <form action="/checkout/<%= course._id %>" method="POST">
                    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_DXJcwWO1ConX0C"
                        data-amount="<%= amount %>" data-currency="INR" data-order_id="<%= order_id %>"
                        data-buttontext="PAY NOW" data-name="Udemy" data-description="Test transaction"
                        data-image="/images/udemyLogo.jpg" data-prefill.name="<%= userName %>"
                        data-prefill.email="<%= userEmail %>" data-theme.color="#F37254">
                        </script>
                    <input type="hidden" custom="Hidden Element" name="order_id" value="<%= order_id %>">
                    <input type="hidden" custom="Hidden Element" name="amount" value="<%= amount %>">
                </form>
                <%}%>

                <style>
                    .razorpay-payment-button{
                        background-color: #3B3B3B;
                        color:white;
                        padding: 1rem;
                        box-shadow: none;
                    }
                </style>
            </div>

        </div>

        <br>
    </div>
    <br>
</div>

</div>
<%- include('./partials/footer'); -%>